ServerApp_Rental/xml-resources/web-service-references/Rental/wsdl/localhost_8080/RentalWebServices/Rental.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://peter.rental.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://peter.rental.com/" name="Rental">
<types>
<xsd:schema>
<xsd:import namespace="http://peter.rental.com/" schemaLocation="http://localhost:8080/RentalWebServices/Rental?xsd=1"/>
</xsd:schema>
</types>
<message name="Reservasi">
<part name="parameters" element="tns:Reservasi"/>
</message>
<message name="ReservasiResponse">
<part name="parameters" element="tns:ReservasiResponse"/>
</message>
<message name="CekLogin">
<part name="parameters" element="tns:CekLogin"/>
</message>
<message name="CekLoginResponse">
<part name="parameters" element="tns:CekLoginResponse"/>
</message>
<message name="CekListRumah">
<part name="parameters" element="tns:CekListRumah"/>
</message>
<message name="CekListRumahResponse">
<part name="parameters" element="tns:CekListRumahResponse"/>
</message>
<message name="CekTanggal">
<part name="parameters" element="tns:CekTanggal"/>
</message>
<message name="CekTanggalResponse">
<part name="parameters" element="tns:CekTanggalResponse"/>
</message>
<message name="Lacak">
<part name="parameters" element="tns:Lacak"/>
</message>
<message name="LacakResponse">
<part name="parameters" element="tns:LacakResponse"/>
</message>
<message name="Register">
<part name="parameters" element="tns:Register"/>
</message>
<message name="RegisterResponse">
<part name="parameters" element="tns:RegisterResponse"/>
</message>
<portType name="Rental">
<operation name="Reservasi">
<input wsam:Action="http://peter.rental.com/Rental/ReservasiRequest" message="tns:Reservasi"/>
<output wsam:Action="http://peter.rental.com/Rental/ReservasiResponse" message="tns:ReservasiResponse"/>
</operation>
<operation name="CekLogin">
<input wsam:Action="http://peter.rental.com/Rental/CekLoginRequest" message="tns:CekLogin"/>
<output wsam:Action="http://peter.rental.com/Rental/CekLoginResponse" message="tns:CekLoginResponse"/>
</operation>
<operation name="CekListRumah">
<input wsam:Action="http://peter.rental.com/Rental/CekListRumahRequest" message="tns:CekListRumah"/>
<output wsam:Action="http://peter.rental.com/Rental/CekListRumahResponse" message="tns:CekListRumahResponse"/>
</operation>
<operation name="CekTanggal">
<input wsam:Action="http://peter.rental.com/Rental/CekTanggalRequest" message="tns:CekTanggal"/>
<output wsam:Action="http://peter.rental.com/Rental/CekTanggalResponse" message="tns:CekTanggalResponse"/>
</operation>
<operation name="Lacak">
<input wsam:Action="http://peter.rental.com/Rental/LacakRequest" message="tns:Lacak"/>
<output wsam:Action="http://peter.rental.com/Rental/LacakResponse" message="tns:LacakResponse"/>
</operation>
<operation name="Register">
<input wsam:Action="http://peter.rental.com/Rental/RegisterRequest" message="tns:Register"/>
<output wsam:Action="http://peter.rental.com/Rental/RegisterResponse" message="tns:RegisterResponse"/>
</operation>
</portType>
<binding name="RentalPortBinding" type="tns:Rental">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Reservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CekLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CekListRumah">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CekTanggal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Lacak">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Rental">
<port name="RentalPort" binding="tns:RentalPortBinding">
<soap:address location="http://localhost:8080/RentalWebServices/Rental"/>
</port>
</service>
</definitions>